<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ning.layui.mapper.ProductMapper">
    <select id="getAllProduct" resultType="Product">
        select *,
               categorylevelone_id categoryleveloneId,
               categoryleveltwo_id categoryleveltwoId,
               categorylevelthree_id categorylevelthreeId,
               file_name fileName
               from mmall.product
    </select>
    <select id="getProductCount" resultType="Integer">
        select count(1) from mmall.product
    </select>
</mapper>